html, body, #root {
  height: 100%
}

body {
  background-color: rgb(224,227, 220);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 30px;
}
